.App {
  text-align: center;
}
.container{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  border-radius: 1.6rem;
  width: fit-content;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: none;
}
.box{
  text-align: center;
  font-size: 1.5rem;
  padding: 10%;
  color: black;
  background-color: beige;
}
.dark{
  background-color: #082032;
  color: #EEEEEE;
}
.light{
  background-color: #F4F9F9;
  color: #555555;
}
.Bdark{
  color: #EEEEEE;
  background-color: #787A91;
}
.Blight{
  background-color: #CCF2F4;
  color: #555555;
}

/* 0F044C */

